{{#> layouts/asset.hbs}}
  <div class="container">
    <p>{{asset.current_version.changes}}</p>
  </div>
  <div class="container">
    <ul class="item-list">
        {{#each asset.versions}}
            <li class="item-list-entry">
                <div class="header">
                    <h2>{{this.name}}</h2>
                    <a class="button" href="{{this.download_url}}">Download</a>
                </div>
                <p>{{this.changes}}</p>
            </li>
        {{/each}}
    </ul>
  </div>
{{/layouts/asset.hbs}}