<nav class="navbar">
    <a href="{{info.root}}" class="navbar-title">{{> title}}</a>
    <button class="navbar-toggle">
        <span class="navbar-toggle-icon"></span>
    </button>
    <ul class="navbar-items">
        <li class="navbar-search">
            <form action="{{info.root}}/search" method="GET">
                <input type="text" name="q" placeholder="Search">
            </form>
        </li>
    </ul>
</nav>